body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #212529;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;
  color: #df4d40 !important;
}

// OVERRIDES 
//TODO Clean up the overrides

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #000000 !important;
}

a.nav-link, a#navbarScrollingDropdown {
  color: #ffffff !important;
}

.dropdown-menu.show {
  border-radius: 0%;
  border: 1px solid black;
}

hr.dropdown-divider {
  border-color: #000 !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff !important;
  background-color: #000 !important;
}
